body {
  background-color: #664343;
  margin: 0;
  padding: 0;
}

.banner {
  background-color: #3b3030;
  color: white;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtext {
  color: gray;
}

.selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}

.choices {
  margin-top: 40px;
  display: flex;
  gap: 40px;
}

.card:hover {
  cursor: pointer;
  color: #b0a695;
  transition: 0.3s;
  scale: 1.1;
}

.card {
  margin: 2px;
}

#selection-text {
  margin-top: 40px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #3b3030;
  width: 100%;
}
